.book-card{
  background-color: aliceblue;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}